streamlit
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-readers-web
llama-index-vector-stores-chroma
google-genai
chromadb
python-dotenv
pysqlite3-binary